/* ---------- Global Reset ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #FAE4E4;
  font-family: sans-serif;
}
/* ---------- Bg Blob ---------- */
.bg-blob{
    position: fixed;
    top:-200px;
    right: -300px;
    height: 600px;
    width: 800px;
    background:#FFF2AA ;
    border-radius: 50%;
    filter: blur(50px);
    z-index: -2;

}

/* ---------- Page Wrapper ---------- */
.page-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* ---------- Header ---------- */
.site-header {
  margin-bottom: 10px;
}

.site-header img{
    height: 150px;
    position: relative;
   
}

/* ---------- Hero Section ---------- */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* ---------- Hero Image ---------- */
.hero-image-wrapper {
  position: relative;
  flex: 1;
}

.hero-image img {
  position: relative;
  max-width: 700px;
  height: auto;
  margin-left: calc(-1 * ((100vw - 1200px) / 2));
}


/* ---------- Hero Content ---------- */
.hero-content {
  max-width: 500px;
}

.hero-heading {
  font-size: 48px;
  color: #8F004F;
  margin-bottom: 20px;
}

.hero-subtext {
  font-size: 24px;
  color: #B17A9E;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* ---------- Button ---------- */
.proceed-btn {
  padding: 12px 32px;
  font-size: 20px;
  border-radius: 28px;
  border: 1px solid #8F004F;
  background: #FFF2AA;
  color: #8F004F;
  cursor: pointer;
  box-shadow: 0px 4px 4.3px rgba(87, 19, 19, 0.31);
}

.proceed-btn:hover {
    transform: scale(1.05);
    background: #8F004F;
    color: white;
}

@media(max-width: 768px){
    .hero-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image img {
        margin-left: 0;          /* undo desktop negative margin */
        max-width: 90%;          /* keep it responsive */
    }
    .hero-content {
        max-width: 100%;
    }

    .hero-heading {
        font-size: 36px;         /* slightly smaller for mobile */
    }

    .hero-subtext {
        font-size: 20px;
    } 
}
