/* ---------- Global Reset ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #FAE4E4;
  font-family: sans-serif;
}
/* ---------- Bg Blob ---------- */
.bg-blob{
    position: absolute;
    top:-200px;
    right: -300px;
    height: 600px;
    width: 800px;
    background:#FFF2AA ;
    border-radius: 50%;
    filter: blur(50px);
    z-index: -2;

}

/* ---------- Page Wrapper ---------- */
.page-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* ---------- Header ---------- */
.site-header {
  margin-bottom: 10px;
}

.site-header img{
    height: 150px;
    
   
}

/* ---------- Hero Section ---------- */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* ---------- Hero Image ---------- */
.hero-image img {
  max-width: 700px;
  
  height: auto;
  margin-left: -200px;
  
}

/* ---------- Hero Content ---------- */
.hero-content {
  max-width: 500px;
  background: rgba(245, 245, 245, 0.506);
  padding: 50px 30px;
  border-radius: 50px;
  border: 1px solid #8F004F;
}

.hero-heading {
  font-size: 38px;
  color: #8F004F;
  margin-bottom: 20px;
}

.setup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.setup-form label {
  font-size: 18px;
  color: #8F004F;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.setup-form input,
.setup-form select {
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #B17A9E;
  font-size: 16px;
}
.proceed-btn {
  padding: 12px 32px;
  font-size: 20px;
  border-radius: 28px;
  border: 1px solid #8F004F;
  background: #FFFFFF;
  color: #8F004F;
  cursor: pointer;
  box-shadow: 0px 4px 4.3px rgba(87, 19, 19, 0.31);
}
.proceed-btn:hover {
  transform: scale(1.05);
}


@media(max-width: 768px){
    .hero-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image img {
        margin-left: 0;          /* undo desktop negative margin */
        max-width: 90%;          /* keep it responsive */
    }
    .hero-content {
        max-width: 100%;
    }

    .hero-heading {
        font-size: 36px;         /* slightly smaller for mobile */
    }

    .hero-subtext {
        font-size: 20px;
    } 
}
